# PYTHON 101 PART 3

## Functions

In [1]:
def five_print():
    print(5)
five_print()

5

In [2]:
def five_return():
    return 5
five_print()

5

In [3]:
a = five_print()
print(a)

5
None

In [4]:
b = five_return()
print(b)

5

In [5]:
def number_return(number):
    return number
number_return(6)

6

In [6]:
number_return('asf')

'asf'

In [8]:
def number_return1(number=10):
    return number #default argument
number_return1()

10

In [9]:
number_return1(213)

213

In [11]:
def big_number_return(number1,number2):
    if number1>number2:
        return number1
    else:
        return number2
     
big_number_return(3,4)

4

In [12]:
def re_number_return(number1,number2):
    return number1
    return number2

re_number_return(3,7)
#sees the first return

3

In [14]:
def print_text(a,b):
    big_number = big_number_return(a,b)
    template_text = "{} is bigger".format(big_number)
    return template_text

print_text(4,9)

'9 is bigger'

In [18]:
def name_surname_split(name_surname):
    name = name_surname.split()[0]
    surname = name_surname.split()[1]
    return name, surname
name_surname_split('Erdem Ünlü')

('Erdem', 'Ünlü')

In [19]:
a,b = name_surname_split('Erdem Ünlü')
print(a)
print(b)

Erdem
Ünlü

In [23]:
def name_surname_join(name, surname):
    a = " ".join([name,surname])
    return a
name_surname_join("Erdem","Ünlü")

'Erdem Ünlü'

In [24]:
name_surname_join("Erdem","Veli","Ünlü")

TypeError: name_surname_join() takes 2 positional arguments but 3 were given

In [27]:
def name_surname_join1(*args): # args command is used to combine unlimited values as desired.
    a = " ".join(args)
    return a
name_surname_join1("Erdem","Veli","Ünlü")

'Erdem Veli Ünlü'

In [29]:
def name_surname_join2(*args): # args command is used to combine unlimited values as desired.
    for i in args:
        print(i)
    a = " ".join(args)
    return a
name_surname_join2("Erdem","Veli","Ünlü")

Erdem
Veli
Ünlü

'Erdem Veli Ünlü'

In [30]:
def print_middle_name(**kwargs):
    if "middleName" in kwargs:
        print(kwargs["middleName"])
    else:
        print("not have middle name")
print_middle_name(1,2,3)

TypeError: print_middle_name() takes 0 positional arguments but 3 were given

In [31]:
print_middle_name(name= "Erdem", middleName = "Veli", surname="Ünlü")

Veli

In [32]:
print_middle_name(name= "Erdem", surname="Ünlü")

not have middle name

## Map, Filter, lamda

In [33]:
def take_square(x):
    return x**2
take_square(5)

25

In [34]:
numbers = [*range(1,6)]
numbers

[1, 2, 3, 4, 5]

In [36]:
for i in range(len(numbers)):
    numbers[i] = take_square(numbers[i])
print(numbers)

[1, 4, 9, 16, 25]

In [38]:
numbers = [*range(1,6)]
[*map(take_square, numbers)]

[1, 4, 9, 16, 25]

In [39]:
def even_numbers(x):
    if x%2==0:
        return x
even_numbers(4)

4

In [40]:
even_numbers(5)

In [46]:
def even_numbers(x):
    return x if x%2==0 else None
even_numbers(4)

4

In [47]:
numbers = [*range(1,6)]
[*filter(even_numbers, numbers)]

[2, 4]

In [50]:
numbers = [*range(1,6)]
[*map(lambda x: x**2, numbers)]

[1, 4, 9, 16, 25]

In [51]:
numbers = [*range(1,6)]
[*filter(lambda x: x if x%2==0 else None, numbers)]

[2, 4]

## input

In [53]:
input("enter a number: ")

enter a number:  4

'4'

In [54]:
a = input("enter a number: ")
a

enter a number:  34

'34'

In [55]:
a = input("enter a number: ")
type(a)

enter a number:  98

str

In [57]:
a = int(input("enter a number: "))
type(a)

enter a number:  24

int

In [63]:
def example1():
    a = int(input("enter a number: "))
    process = input("Is the data odd or even?: ")
    
    if process == "even":
        if a%2==0:
            return 'true, it is even'
        else:
            return 'wrong, odd'
    elif process == 'odd':
        if a%2==1:
            return 'true, it is odd'
        else:
            return 'wrong, even'

example1()

enter a number:  3
Is the data odd or even?:  odd

'true, it is odd'

In [64]:
example1()

enter a number:  4
Is the data odd or even?:  odd

'wrong, even'

In [71]:
def example2():
    a = input("enter a number: ")
    if a.isdigit():
        print('it is a number')
    else:
        print('it is not a number')

In [74]:
example2()

enter a number:  34

it is a number

In [75]:
example2()

enter a number:  qwe

it is not a number