# PYTHON 101 PART 2

## If comand

In [2]:
weather = 'rain'
if weather == 'rain':
    print('take the umbrealla')

take the umbrealla

In [3]:
weather1 = 'sunny'
if weather1 == 'rain':
    print('take the umbrealla')

In [4]:
if weather == 'rain':
    print('take the umbrealla')
else:
    print('no problem')

take the umbrealla

In [5]:
if weather1 == 'rain':
    print('take the umbrealla')
else:
    print('no problem')

no problem

In [6]:
weather2 = 'snowy'
if weather2 == 'rain':
    print('take the umbrealla')
elif weather2 == 'snowy':
    print('take the scarf')
else:
    print('no problem')

take the scarf

In [7]:
age = 18
if age > 18:
    print('you can enter')
else:
    print('you cannot enter')

you cannot enter

In [59]:
list0 = ['a','b','c','d']

letter = 'b'
if letter in list0:
    print('it is exist')

it is exist

In [60]:
list0 = ['a','b','c','d']

letter = 'e'
if letter in list0:
    print('it is exist')
else:
    list0.append(letter)
    print('I added')
    print('current list0 : {}'.format(list0))

I added
current list0 : ['a', 'b', 'c', 'd', 'e']

In [63]:
if (letter in list0) and (letter == list0[0]):
    print('it is exist and first letter')
elif letter in list0:
    print('it is just exist, not first letter')
else:
    list0.append(letter)
    print('I added')
    print('current list0 : {}'.format(list0))

it is just exist, not first letter

## for comand

In [14]:
commentators = ['Jack Sparraow', 'Tom Cruise', 'Lebron James', 'Micheal Jordan']
commentators

['Jack Sparraow', 'Tom Cruise', 'Lebron James', 'Micheal Jordan']

In [15]:
for users in commentators:
    print(users)

Jack Sparraow
Tom Cruise
Lebron James
Micheal Jordan

In [16]:
user_number = 0
for users in commentators:
    user_number = user_number + 1
    print(user_number,users)

1 Jack Sparraow
2 Tom Cruise
3 Lebron James
4 Micheal Jordan

In [17]:
user_number = 0
for users in commentators:
    print(user_number,users)
    user_number = user_number + 1

0 Jack Sparraow
1 Tom Cruise
2 Lebron James
3 Micheal Jordan

In [18]:
commentators[0].split()

['Jack', 'Sparraow']

In [19]:
name, surname = commentators[0].split()[0], commentators[0].split()[1]
print(name,surname)

Jack Sparraow

In [26]:
commentators = ['Jack Sparraow', 'Tom Cruise', 'Lebron James', 'Micheal Jordan']
user_number = 0
for users in commentators:
    user_number = user_number + 1
    name, surname = users.split()[0], users.split()[1]
    print("{0}. Name: {1} \nSurname: {2}".format(user_number, name,surname))

1. Name: Jack
Surname: Sparraow
2. Name: Tom
Surname: Cruise
3. Name: Lebron
Surname: James
4. Name: Micheal
Surname: Jordan

In [30]:
commentators = ['Jack Sparraow', 'Tom Cruise', 'Lebron James', 'Micheal Jordan','Erdem Ünlü']
moderator = 'Erdem Ünlü'

user_number = 0
moderator_number = 0

for users in commentators:
    name, surname = users.split()[0], users.split()[1]
    if users == moderator:
        moderator_number += 1
        print("{0}. Moderator Name: {1} \nModerator Surname: {2}".format(moderator_number, name,surname))
    else:
        user_number += 1
        print("{0}. Name: {1} \nSurname: {2}".format(user_number, name,surname))

1. Name: Jack
Surname: Sparraow
2. Name: Tom
Surname: Cruise
3. Name: Lebron
Surname: James
4. Name: Micheal
Surname: Jordan
1. Moderator Name: Erdem
Moderator Surname: Ünlü

## for loops in other iterable objects

In [31]:
tup = (1,2,3,4,5)

for i in tup:
    print(i)

1
2
3
4
5

In [35]:
list1 = [[1,2],[3,4]]

for x,y in list1:
    print(x)

1
3

In [36]:
list2 = [[1,2,5],[3,4,6]]

for x,y in list2:
    print(x)

ValueError: too many values to unpack (expected 2)

In [37]:
list2 = [[1,2,5],[3,4,6]]

for x,y,z in list2:
    print(x)

1
3

In [38]:
list2 = [[1,2,5],[3,4,6]]

for x,y,z in list2:
    print(x)
    print(y)
    print(z)

1
2
5
3
4
6

In [39]:
list2 = [[1,2,5],[3,4,6]]

for x,y,z in list2:
    print(x*y/z)

0.4
2.0

In [44]:
commentators1 = {'name':'Jack',
                 'surname':'Sparraow'}

for k, v in commentators1.items():
    print("key : {0} \tValue : {1}".format(k,v))

key : name 	Value : Jack
key : surname 	Value : Sparraow

In [46]:
for k in commentators1.keys():
    print("key : {0}".format(k))

key : name
key : surname

## while loop

In [47]:
x = 0
while x < 10:
    print('{} < 10'.format(x))
    x += 1

0 < 10
1 < 10
2 < 10
3 < 10
4 < 10
5 < 10
6 < 10
7 < 10
8 < 10
9 < 10

In [48]:
x = 0
while x < 10:
    print('{} < 10'.format(x))
    x += 1
else:
    print('{} = 10'.format(x))

0 < 10
1 < 10
2 < 10
3 < 10
4 < 10
5 < 10
6 < 10
7 < 10
8 < 10
9 < 10
10 = 10

In [53]:
# factorial

number = 5
conclusion = 1

while number > 0:
    conclusion = conclusion * number
    number -= 1
   
print(conclusion)

120

### enumerate

In [74]:
letter1 = ['a','b','c','d','e','f']

for i in enumerate(letter1):
    print(i)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')
(5, 'f')

In [76]:
for index,j in enumerate(letter1):
    print("{}. letter {}".format(index,j))

0. letter a
1. letter b
2. letter c
3. letter d
4. letter e
5. letter f

### zip

In [78]:
country = ['TR','USA','NE']
number11 = range(1,4)
## equal in length

for i in zip(country,number11):
    print(i)

('TR', 1)
('USA', 2)
('NE', 3)

In [79]:
for i,j in zip(country,number11):
    print(i,j)

TR 1
USA 2
NE 3

### range

In [55]:
range(10) # 0,1...,9 not 10

range(0, 10)

In [56]:
type(range(10))

range

In [66]:
[*range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
[*range(10,22)]

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [68]:
for i in range(5):
    print(i)

0
1
2
3
4

In [70]:
for i in range(10):
    if i > 5:
        print(i)

6
7
8
9

### break

In [84]:
letter1 = ['a','b','c','d','e','f'] * 100

for index, letter in enumerate(letter1):
    if letter == "c":
        print("{} letter \n{}. index".format(letter,index))
        break

c letter
2. index

### continue

In [86]:
for i in range(1,10):  ##double number query
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9

In [89]:
for i in range(1,10):  ##double number query
    if i%2 != 0:
        print(i)

1
3
5
7
9

### pass

In [88]:
for i in range(1,10):
    if i%2 == 0:
        pass
    else:
        print(i)

2
4
6
8

In [91]:
for i in range(1,10):
    if i%2 != 0:
        pass
    else:
        print(i)

2
4
6
8

In [93]:
if i < 0:
    pass
else:
    print('hi')

hi